@import 'setup';
@import 'utils';
@import 'typography';

// ==== HEADER ====
.main-header {
    color: #ffffff;
    height: 100vh;
    position: relative;
    background: linear-gradient(0deg, #0d626c 0%, #121c44 100%);
   
    &__content {
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 100%;
        &__btn {
             @extend %btn;
        }
    } 
}

.nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    text-align: right;
    height: 70px;
    line-height: 70px;
    position: relative;
    z-index: 1;
    &__wrapper {
        max-width: 900px;
        margin: 0 auto;
    }
    &__word {
        padding: 26px 20px;
        @media screen and (max-width: $break1){
            padding: 26px 10px;
        }
    }
    &__name {
        text-align: left;
        line-height: 70px;
        z-index: 2;
        float: left;
        margin: 0;
        margin-left: 30px;
        @media screen and (max-width: $break1){
            font-size: 1.5rem;
        }
    }
    &__menu {
        margin: 0;
        padding: 0;
        float: right;
        text-align: center;
    }
    &__menu a {
        text-decoration: none;
        display: block;
        color: #ffffff;
        line-height: 70px;
        text-transform: uppercase;
        transition:background 0.4s ease-out;
        @media screen and (max-width: $break1){
            font-size: .8rem;
        }

            &:hover {
                background: rgba(255, 255, 255, 0.32);
                color: #ffffff;
                transition:background .01s ease-in;
            }
    }
    &__menu li{
        display: inline-block;
    }
}

label {
    margin: 0 40px 0 0;
    font-size: 2.4rem;
    display: none;
}
#toggle {
    display: none;
}

 @media screen and (max-width: $break2){
    label {
        display: block;
        cursor: pointer;
        width:50px;
        float: right;
    }
    .nav__menu {
        text-align: center;
        width: 100%;
        display: none;
        background: #121c44;
    }
    .nav__menu a {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.32); 
        margin: 0;
        width: 100%;
    }
    .nav__menu li {
        width: 100%;
    }
    #toggle:checked + .nav__menu {
        display: block;
    }
}

// ==== ABOUT-SECTION ====
.about-section {
    background:rgba(247, 247, 247, 0.9);
    text-align: center;
    max-width: 900px;
    margin: 60px auto;
    color: #1c555f;
    overflow: hidden;
    &__content {
        width: 80%;
        margin: 80px auto;
        @media screen and (max-width: $break1){
            margin: 40px auto;
        }
    }
    &__img {
        width: 220px;
        border-radius: 50%;
        margin-top: 90px;
        margin-bottom: 32px;
        @media screen and (max-width: $break1){
            margin-top: 60px;
            margin-bottom: 20px;
        }
    }
    &__title {
        position: relative;
        color: #1c555f;
        &::after {
            content: "";
            display: block;
            width: 105px;
            height: 1px;
            background: #49848f;
            position: absolute;
            left: 50%;
            bottom: -35px;
            transform: translate(-50%);
        }
    }
    &__para {
        max-width: 600px;
        margin: auto;
        text-align: left;
    }

    &__list {
        font-size: 2rem;
        display: block;
        width: 100%;
        padding: 0;
        margin: 62px auto;
        @media screen and (max-width: $break1){
            margin: 40px auto;
        }
        &__item {
            display: inline-block;
            color: #49848f;
            
        }
        &__item:hover {
            color: #d1b325;
            transform: scale(1.2);
        }
    }
}

// ==== SKILLS-SECTION ====
.skills-section {
    &__list {
        display: grid;
        align-items: start;
        justify-items: center;
        grid-template-columns: repeat(6, 1fr);
        padding: 0;
        text-align: center;
        max-width: 900px;
        margin: 60px auto;
        @media screen and (max-width: $break1){
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;

        }
        &__item {
            display: inline-block;
            width: 80%;
        }
         &__item:nth-of-type(n+4) {
            align-self: center;
            @media screen and (max-width: $break1) {
                align-self: end;
            }
        }
    }
}

// ==== PORTFOLIO-SECTION ====
.portfolio-section {
    margin: 60px 0;
    &__title {
        background: #f7f7f7;
        position: relative;
        color: #1c555f;
        margin-bottom: 90px;
        padding-top: 90px;
        @media screen and (max-width: $break1) {
                padding-top: 60px;
                margin-bottom: 60px;
        }
        &::after {
            content: "";
            display: block;
            width: 105px;
            height: 1px;
            background: #49848f;
            position: absolute;
            left: 50%;
            bottom: -35px;
            transform: translate(-50%);
        }
    }
    &__gallery {
        max-width: 900px;
        margin: 0 auto;
        background: #f7f7f7;
        color: #1c555f;
        &__item {
            display: grid;
            grid-template-columns: minmax(200px, 1fr) 5fr minmax(200px, 1fr);
            grid-gap: 16px;
            padding: 32px;
            @media screen and (max-width: 900px) {
                grid-template-columns: 1fr 10fr 0.5fr;
            }
            @media screen and (max-width: $break1) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 200px;
                padding: 32px 16px;
            }
        }
        &__item__text a{
            margin-right: 20px;
            font-size: 1.2rem;
            text-align: right;
        }
        &__item__img {
            width: 200px;
            height: 200px;
            border: 1.5px solid #1c555f;
            padding: 2px;
            border-radius: 2px;
            @media screen and (max-width: $break1) {
                grid-row: 2;
                margin: 0 auto;
            }
        }
        &__item:nth-of-type(even) {
            background: #ffffff;
            text-align: right;
         }

        &__item__text {
            grid-column: 2;
            margin: 0 16px;
            @media screen and (max-width: $break1) {
                grid-column: 1;
            }
        }
        &__item__img:nth-of-type(even) {
            grid-column-start: 3;
            width: 100%;
            background: #ffffff;
            @media screen and (max-width: $break1) {
                grid-row: 2;
                margin: 0 auto;
            }
        }    
    }
}

// ==== CONTACT-SECTION ====
.contact-section {
    background: -webkit-linear-gradient(90deg, #121c44 0%, #0d626c 100%);
    background: -moz-linear-gradient(90deg, #121c44 0%, #0d626c 100%);
    background: -o-linear-gradient(90deg, #121c44 0%, #0d626c 100%);
    background: -ms-linear-gradient(90deg, #121c44 0%, #0d626c 100%);
    background: linear-gradient(0deg, #121c44 0%, #0d626c 100%);
    padding-top: 70px;
    padding-bottom: 120px;
    color: #ffffff;
    @media screen and (max-width: $break1) {
        padding-top: 60px; 
        padding-bottom: 20px;   
    }
    &__title {
        position: relative;
    }
    &__title::after {
        content: "";
        display: block;
        width: 105px;
        height: 1px;
        background: #d1b325;
        position: absolute;
        left: 50%;
        bottom: -35px;
        transform: translate(-50%);
    }
    &__content {
        display: grid;
        grid-template-columns: 1.15fr 3fr;
        max-width: 900px;
        grid-column-gap: 84px;
        margin: 125px auto 0 auto;
        @media screen and (max-width: $break1) {
            display: block;
            margin: 70px auto 0 auto;       
        }
        &__form {
            width: 100%;
            display: grid;
            grid-template-rows: 58px 3fr 58px;
            grid-row-gap: 30px;
            @media screen and (max-width: $break1) {
                display: block;   
            }
        }
    }
}
.contact-section__content__side-bar {
    padding: 0;
    max-width: 200px;
    @media screen and (max-width: $break1) {
        margin-left: 41px;
    }
    &__item{
        margin-bottom: 30px;
        display: block;
        @media screen and (max-width: $break1) {
            margin-bottom: 16px;  
        }
        &__text {
            margin: 0;
            display: inline-block;
        }
    }
}

.contact-section__content__form {
    &__top-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        @media screen and (max-width: $break1) {
            display: block;    
        }
        &__name, &__email {
            background: none;
            padding: 0;
            height: 58px;
            width: 100%;
            border: 1.25px solid #ffffff;
            color: #ffffff; 
            padding: 0 20px;
            @media screen and (max-width: $break1) {
                height: 48px;
            }
        }
    }
    &__message {
        background: none;
        border: 1.25px solid #ffffff;
        color: #ffffff;
        padding: 20px; 
        @media screen and (max-width: $break1) {
            display: block;
            width: 100%;   
        }
    }
    &__btn {
        @extend %btn;
        @media screen and (max-width: $break1) {
            // margin-top: 16px;
            margin: 16px auto 0 auto;
            display: block;
        }
    }
}

// ==== FOOTER ====
.main-footer {
    background-color: #0f2038;
    &__name {
        margin: 0;
        color: #578893;
    }
    &__list {
        margin: 0;
        padding: 0;
        justify-self: center;
        font-size: 2rem;
        &__item {
            display: inline-block;
            color: #578893;
            margin: 6px;
        }
        &__item:hover {
            color: #d1b325;
            transform: scale(1.2);
        }
    }
    &__copy {
        justify-self: end;
        color: #578893;
        @media screen and (max-width: $break2) {
            justify-self: center;    
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        max-width: 900px;
        margin: 0 auto;
        @media screen and (max-width: $break2) {
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: 1fr;
            text-align: center;
        }
    }
}

//=== PARALLAX === 
.parallax-window {
    // width: 80%;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.5);
}

.parallax-cover {
    // background: rgba(255, 255, 255, 0.75);
    max-width: 900px;
    margin: 0 auto;
}
